<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Editar Cliente</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div style="background-color: #34495e; color: white; padding: 10px 20px; text-align: right; margin-bottom: 15px;">
    {% if session.user_name %}
        <span>Bem-vindo, <strong>{{ session.user_name }}</strong>!</span>
        <a href="{{ url_for('logout') }}" style="color: #ecf0f1; margin-left: 15px; text-decoration: none;">Sair</a>
    {% endif %}
    </div>
    <div class="container">
        <div class="header-actions">
            <h1>Editar Cliente</h1>
            <div class="actions-group">
                <a href="{{ url_for('clientes') }}" class="button">Voltar para a Lista</a>
            </div>
        </div>
        
        <form action="{{ url_for('edit_cliente', id=cliente['id']) }}" method="post">
            {{ csrf_token() }}
            <input type="hidden" name="id" value="{{ cliente['id'] }}">
            
            <label for="municipio">Município:</label>
            <input type="text" id="municipio" name="municipio" value="{{ cliente['municipio'] }}" required>
            
            <label for="orgao">Órgão:</label>
            <input type="text" id="orgao" name="orgao" value="{{ cliente['orgao'] }}">
            
            <label for="contrato">Contrato:</label>
            <input type="text" id="contrato" name="contrato" value="{{ cliente['contrato'] }}">
            
            <label for="sistemas">Sistemas Utilizados:</label>
            <select id="sistemas" name="sistemas" multiple>
                {% for sistema in sistemas_para_selecao %}
                    <option value="{{ sistema }}" {% if sistema in sistemas_salvos %}selected{% endif %}>{{ sistema }}</option>
                {% endfor %}
            </select>
            
            <button type="submit" class="button edit" style="margin-top: 15px;">Salvar Alterações</button>
        </form>
    </div>
</body>
</html>