<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Editar Pendência</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div style="background-color: #34495e; color: white; padding: 10px 20px; text-align: right; margin-bottom: 15px;">
    {% if session.user_name %}
        <span>Bem-vindo, <strong>{{ session.user_name }}</strong>!</span>
        <a href="{{ url_for('logout') }}" style="color: #ecf0f1; margin-left: 15px; text-decoration: none;">Sair</a>
    {% endif %}
    </div>
    <div class="container">
        <div class="header-actions">
            <h1>Editar Pendência em Ficha</h1>
            <div class="actions-group">
                <a href="{{ url_for('pendencias') }}" class="button">Voltar para a Lista</a>
            </div>
        </div>
        
        <form action="{{ url_for('edit_pendencia', id=pendencia['id']) }}" method="post">
            <input type="hidden" name="id" value="{{ pendencia['id'] }}">
            
            <label for="processo">Processo:</label>
            <input type="text" id="processo" name="processo" value="{{ pendencia['processo'] }}" required>
            
            <label for="cliente">Cliente:</label>
            <select id="cliente" name="cliente">
            <option value="">Selecione um Cliente</option>
            {% for cliente in clientes %}
            <option value="{{ cliente }}" {% if cliente == pendencia['cliente'] %}selected{% endif %}>{{ cliente }}</option>
            {% endfor %}
            </select>
            
            <label for="sistema">Sistema:</label>
            <select id="sistema" name="sistema">
                <option value="">Selecione um Sistema</option>
                {% for sistema in sistemas_para_selecao %}
                    <option value="{{ sistema }}" {% if sistema == pendencia['sistema'] %}selected{% endif %}>{{ sistema }}</option>
                {% endfor %}
            </select>
            
            <label for="data_prioridade">Data da Prioridade:</label>
            <input type="date" id="data_prioridade" name="data_prioridade" value="{{ pendencia['data_prioridade'] }}">
            
            <label for="prazo_entrega">Prazo de Entrega:</label>
            <input type="date" id="prazo_entrega" name="prazo_entrega" value="{{ pendencia['prazo_entrega'] }}">
            
            <label for="status">Status:</label>
            <select id="status" name="status">
                <option value="Aberto" {% if pendencia['status'] == 'Aberto' %}selected{% endif %}>Aberto</option>
                <option value="Concluído" {% if pendencia['status'] == 'Concluído' %}selected{% endif %}>Concluído</option>
            </select>
            
            <button type="submit" class="button edit">Salvar Alterações</button>
        </form>
        {% for key, value in args.items() %}
        <input type="hidden" name="{{ key }}" value="{{ value }}">
        {% endfor %}
    </div>
</body>
</html>