<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Editar Equipe</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div style="background-color: #34495e; color: white; padding: 10px 20px; text-align: right; margin-bottom: 15px;">
    {% if session.user_name %}
        <span>Bem-vindo, <strong>{{ session.user_name }}</strong>!</span>
        <a href="{{ url_for('logout') }}" style="color: #ecf0f1; margin-left: 15px; text-decoration: none;">Sair</a>
    {% endif %}
    </div>
    <div class="container">
        <div class="header-actions">
            <h1>Editar Equipe</h1>
            <div class="actions-group">
                <a href="{{ url_for('equipes') }}" class="button">Voltar para a Lista</a>
            </div>
        </div>
        
        <form action="{{ url_for('edit_equipe', id=equipe['id']) }}" method="post">
            <input type="hidden" name="id" value="{{ equipe['id'] }}">
            
            <label for="nome">Nome da Equipe:</label>
            <input type="text" id="nome" name="nome" value="{{ equipe['nome'] }}" required>
            
            <label for="sigla">Sigla:</label>
            <input type="text" id="sigla" name="sigla" value="{{ equipe['sigla'] }}">
            
            <label for="lider">Líder:</label>
            <select id="lider" name="lider">
                <option value="">Selecione um Líder</option>
                {% for tecnico in tecnicos %}
                <option value="{{ tecnico[0] }}" {% if tecnico[0] == equipe['lider'] %}selected{% endif %}>{{ tecnico[0] }}</option>
                {% endfor %}
            </select>
            
            <button type="submit" class="button edit">Salvar Alterações</button>
        </form>
    </div>
</body>
</html>