<h2 style="text-align: center; border: none;">Acesso aos Módulos</h2>
<div class="module-grid">
    
    {% if check_permission('cadastros') %}
        <a href="{{ url_for('cadastros') }}" class="module-button">Cadastros</a>
    {% endif %}

    {% if check_permission('agenda') %}
        <a href="{{ url_for('agenda') }}" class="module-button">Agenda</a>
    {% endif %}

    {% if check_permission('projetos') %}
        <a href="{{ url_for('projetos') }}" class="module-button">Projetos de Implantação</a>
    {% endif %}

    {% if check_permission('pendencias') %}
        <a href="{{ url_for('pendencias') }}" class="module-button">Pendências</a>
    {% endif %}

    {% if check_permission('prestacao_contas') %}
        <a href="{{ url_for('prestacao_contas') }}" class="module-button">Prestação de Contas</a>
    {% endif %}

    {% if check_permission('ferias') %}
        <a href="{{ url_for('ferias') }}" class="module-button">Férias</a>
    {% endif %}
    
    {% if session['user_role'] == 'admin' %}
        <a href="{{ url_for('usuarios') }}" class="module-button">Gestão de Usuários</a>
        <a href="{{ url_for('gerenciar_permissoes') }}" class="module-button" style="background-color: #9b59b6; color: white;">Gerenciar Permissões</a>
    {% endif %}
</div>