<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Novo Agendamento</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <div class="header-actions">
            <h1>Adicionar Novo Agendamento</h1>
        </div>
        <form method="post">
            <label for="data_agendamento">Data do Agendamento</label>
            <input type="date" id="data_agendamento" name="data_agendamento" value="{{ pre_selected_date }}" required>
            
            <label for="horario_agendamento">Horário do Agendamento</label>
            <input type="time" id="horario_agendamento" name="horario_agendamento">

            </form>
    </div>
</body>
</html>