<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Novo Sistema</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Novo Sistema</h1>
        <a href="{{ url_for('sistemas') }}" class="button">Voltar para a Lista</a>
        
        <form action="{{ url_for('new_sistema') }}" method="post">
            <label for="nome">Nome do Sistema:</label>
            <input type="text" id="nome" name="nome" required>
            
            <label for="sigla">Sigla:</label>
            <input type="text" id="sigla" name="sigla" required>
            
            <button type="submit">Salvar Sistema</button>
        </form>
    </div>
</body>
</html>