<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Novo Cliente</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div style="background-color: #34495e; color: white; padding: 10px 20px; text-align: right; margin-bottom: 15px;">
    {% if session.user_name %}
        <span>Bem-vindo, <strong>{{ session.user_name }}</strong>!</span>
        <a href="{{ url_for('logout') }}" style="color: #ecf0f1; margin-left: 15px; text-decoration: none;">Sair</a>
    {% endif %}
    </div>
    <div class="container">
        <div class="header-actions">
            <h1>Novo Cliente</h1>
            <div class="actions-group">
                <a href="{{ url_for('clientes') }}" class="button">Voltar para a Lista</a>
            </div>
        </div>

        <form action="{{ url_for('new_cliente') }}" method="post">
            {{ csrf_token() }}
            <label for="municipio">Município:</label>
            <input type="text" id="municipio" name="municipio" required>

            <label for="orgao">Órgão:</label>
            <input type="text" id="orgao" name="orgao">

            <label for="contrato">Contrato:</label>
            <input type="text" id="contrato" name="contrato">

            <label for="sistemas">Sistemas Utilizados:</label>
            <select id="sistemas" name="sistemas" multiple>
                <option value="">Selecione um ou mais Sistemas</option>
                {% for sistema in sistemas_para_selecao %}
                    <option value="{{ sistema }}">{{ sistema }}</option>
                {% endfor %}
            </select>
            
            <button type="submit" class="button new" style="margin-top: 15px;">Salvar Cliente</button>
        </form>
    </div>
</body>
</html>